* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.slider {
    position: relative;
    width:100%;
    height: 600px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

#goLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    transition: translateY(-50%);
    width: 6%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}


#goRight {
    position: absolute;
    right: 0;
    transition: translateY(-50%);
    width: 6%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
}

#goLeft:hover {
    background: rgba(0, 0, 0, 0.288);
    transition: 0.5s;
    cursor: pointer;
    
}
#goRight:hover {
    background: rgba(0, 0, 0, 0.288);
    transition: 0.5s;
    cursor: pointer;
}

#goLeft i {
    font-size: 60px;
}
#goRight i {
    font-size: 60px;
}

#goLeft:hover i {
    color:whitesmoke;
}
#goRight:hover i {
    color: whitesmoke;
}

.img {
    width: auto;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .slider {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 300px;
    }
    #goLeft i {
        font-size: 40px;
    }
    #goRight i {
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .slider {
        height: 200px;
    }
}