* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.logo {
    position: absolute;
    margin: -300px 0 0 0;
    height: 200px;
    width: auto;
    z-index: 1;
}

.slider {
    position: relative;
    width:100%;
    padding-top: 70px;
    height: 600px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;

}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

#goLeft {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    left: -1px;
    /* transition: translateY(-50%); */
    width: 5.5%;
    height: 300px;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    color: white;
    padding: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 0px 60px 60px 0px;
}


#goRight {
    position: absolute;
    right: -1px;
    transition: translateY(-50%);
    width: 5.5%;
    height: 300px;
    background: none;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 60px 0px 0px 60px;
}

.goLeft_text {
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    /* transform: rotate(-90deg); */
}

.goRight_text {
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    /* transform: rotate(90deg); */
}

#goLeft:hover {
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    cursor: pointer;
    
}
#goRight:hover {
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    cursor: pointer;
}


#goLeft i {
    font-size: 60px;
}
#goRight i {
    font-size: 60px;
}

#goLeft:hover .goLeft_text {
    color:whitesmoke;
}
#goRight:hover .goRight_text {
    color: whitesmoke;
}

.img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1050px) {
    .slider {
        height: 500px;
    }
    #goLeft {
        width: 7%;
    }
    #goRight {
        width: 7%;
    }
    .goLeft_text {
        font-size: 70px;
    }
    .goRight_text {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 350px;
        padding-top: 50px;
        
    }
    #goLeft {
        width: 10%;
        height: 100px;
    }
    #goRight {
        width: 10%;
        height: 100px;
    }
    .goLeft_text {
        font-size: 50px;
    }
    .goRight_text {
        font-size: 50px;
    }
    /* #goLeft i {
        font-size: 40px;
    }
    #goRight i {
        font-size: 40px;
    } */
}

@media screen and (max-width: 480px) {
    .slider {
        height: 220px;
    }
}