* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.about {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    width: 100%;
    /* border: 5px outset; */
    /* border-radius: 10px; */
}

.about_img {
    height: 170px;
    width: auto;
    padding-right: 120px;
    /* margin-right: 200px; */
    /* border-radius: 10px; */
}

.about_body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    width: 50%;
}

.heading {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
    padding-bottom: 2px;
    font-weight: 700;
}

.horizontal_line {
    width: 130px;
    border: #fff;
    border-bottom: 2px solid black;
}

.about_description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
    /* padding: 5px 0 0 0; */
    line-height: 1.6rem;
}

@media screen and (max-width: 1100px) {
    .about {
        margin: 5px;
        border: none;
        padding: 5px;
        width: 100%;
        margin: 40px 0;
    }

    .about_img {
        display: none;
    }

    .about_description {
        padding: 0 10px 0 10px;
    }


}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 30px;
    }
}