* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.about {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px -30px 0px;
    width: 100%;
    /* border: 5px groove; */
    /* border-radius: 10px; */
    padding: 20px;
    padding-bottom: 30px;
}

.about_img {
    height: 170px;
    width: auto;
    padding-right: 120px;
    /* margin-right: 200px; */
    /* border-radius: 10px; */
}

.about_body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    width: 50%;
}

.heading {
    font-family: 'Josefin Sans', sans-serif;
    /* font-weight: 600; */
    font-size: 38px;
    padding-bottom: 2px;
    font-weight: 700;
}

.horizontal_line {
    width: 164px;
    margin: -5px 0px 10px 0px;
    border: #fff;
    border-bottom: 2px solid black;
}

.about_description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
    /* padding: 5px 0 0 0; */
    line-height: 1.6rem;
}

@media screen and (max-width: 1100px) {
    .about {
        width: 100%;
        margin: 15px 0 20px 0px;
        padding: 20px;
        padding-bottom: 24px;
    }

    .about_body {
        width: 65%;
        padding-right: none;
    }

    .about_img {
        /* display: none; */
        padding-right: 60px;
        height: 150px;
    }

}

@media screen and (max-width: 810px) {

    .about {
        width: 100%;
        margin: -10px 0 20px 0px;
        padding: 20px;
        padding-bottom: 24px;
    }
    .about_img {
        display: none;
    }
    .about_body {
        padding: 0;
        width: 90%;
    }
    .heading {
        font-size: 30px;
    }
    .about_description {
        font-size: 18px;
    }
    .horizontal_line {
        width: 128px;
        margin: -5px 0px 10px 0px;
        border: #fff;
        border-bottom: 2px solid black;
    }
}

@media screen and (max-width: 768px) {

    .about {
        margin: 10px 0 20px 0px;
    }
}

@media screen and (max-width: 420px) {

    .about {
        scale: 0.95;
        height: 250px;
    }
    .about_body{
        scale: 0.88;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {


    .about_body{
        scale: 0.88;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}