* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.calendar {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    /* border: 2px solid #000; */
    padding: 10px 20px 20px 0;
}

.heading1 {
    font-size: 40px;
    padding-bottom: 30px;
}

.calendar_container {
    position: relative;
    height: 240px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.calendar_container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.item {
    min-width: 220px;
    min-height: 220px;
    max-width: 220px;
    max-height: 220px;
    text-align: center;
    background: #eee;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.4s ease;
}

.item_h1 {
    margin-top: 10px;
}

.item_hr {
    border: 1px;
    margin: 10px 0;
    background: #000;
}

.item_p {
    text-align: justify;
    font-size: 16px;
    margin: 10px;
}

.item_date {
    text-align: left;
    margin:10px 0 0 10px;
}

.item_time {
    text-align: left;
    margin:0 10px;
}

.item:hover {
    min-width: 230px;
    min-height: 230px;
    max-width: 230px;
    max-height: 230px;
    transition: 0.4s ease;
    padding: 5px;
    background: #ddd;
}

@media screen and (max-width: 1100px) {
    .calendar {
        margin: 20px 0;
        width: 100%;
        border: none;
        padding: 0 10px;
    }

    .heading1 {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px) { 
    .item_p {
        font-size: 15px;
    }
}