* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.team {
    font-family: 'Nunito', sans-serif;
}

.heading1 {
    padding-top: 110px;
    font-size: 40px;
    text-align: center;
}
.hr1 { 
    padding-bottom: 10px;
    margin: 0 10% 40px 10%;
    border: #fff;
    border-bottom: 3px solid black;
}
.heading2 {
    padding-top: 0px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}
.heading2:hover{
    cursor: pointer;
}

.hr2 { 
    width: 40%;
    border: #fff;
    margin: 5px auto 40px auto;  
    border-bottom: 2px dashed grey;
}

.Team_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.TeamCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    margin: 50px 0;
}


.Card_img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    align-self: center;
}

.name {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.position {
    font-size: 22px;
    padding-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_details {
    display: flex;
    padding: 10px 40% 0 40%;
    justify-content:space-around;
    align-items: center;
    /* flex-direction: column; */
}

.phone {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: black;
    font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
    .TeamCard {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .heading1 {
        font-size: 30px;
    }

    .heading2 {
        font-size: 30px;
    }

    .name {
        font-size: 26px;
    }

    .position {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .TeamCard {
        width: 100%;
    }
}

