* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.heading1 {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
}

.hr1 { 
    /* padding-top: 5px; */
    padding-bottom: 10px;
    margin: 0 10%;
    border: #fff;
    border-bottom: 3px solid black;
}

.heading2 {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

.hr2 { 
    width: 40%;
    border: #fff;
    margin: 5px auto 0 auto;
    border-bottom: 2px dashed grey;    
}

.Team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.TeamCard {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    margin: 50px;
}

.TeamCard_top {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: #ddd;
    padding: 15px 0 0 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.position {
    margin-top: 10px;
}

.TeamCard_mid {
    height: 130px;
    /* height: 0; */
    width: 500px;
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 10px 0 0 20px;
}

.TeamCard_bottom {
    height: 70px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 10px 0 0 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Card_img {
    position: absolute;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: 30px;
    margin-left: 330px;
}

.description {
    margin-right: 200px;
    line-height: 1.6rem;
}

.phone {
    color: #000099;
    margin-bottom: 5px;
}

.mail {
    color: #000099;
}

@media screen and (max-width: 1100px) {
    .heading1 {
        font-size: 30px;
    }

    .heading2 {
        font-size: 25px;
    }

    .TeamCard {
        height: 240px;
        width: 350px;
        margin: 20px;
    }

    .TeamCard_top {
        height: 80px;
        width: 350px;
        padding-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .TeamCard_mid {
        height: 104px;
        width: 350px;
        padding-left: 10px;
    }

    .TeamCard_bottom {
        height: 56px;
        width: 350px;
        padding-left: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Card_img {
        height: 100px;
        width: 100px;
        margin-left: 240px;
        margin-top: 24px;
        border: 4px solid #fff;
    }

    .name {
        font-size: 25px;
    }

    .position {
        font-size: 15px;
    }

    .description {
        margin-right: 100px;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .phone {
        font-size: 0.8rem;
    }
    
    .mail {
        font-size: 0.8rem;
    }
}

