* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.calendar {
    position: relative;
    height: 240px;
    /* border: 1px solid red; */
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
}

.calendar::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.item {
    min-width: 220px;
    min-height: 220px;
    max-width: 220px;
    max-height: 220px;
    text-align: center;
    background: #ddd;
    margin: 0 5px;
    border-radius: 10px;
    transition: 0.4s ease;
}

.item_h1 {
    margin-top: 10px;
}

.item_hr {
    border: 1px;
    margin: 10px 0;
    background: #000;
}

.item_p {
    text-align: justify;
    margin: 10px;
}

.item_date {
    text-align: left;
    margin:10px 0 0 10px;
}

.item_time {
    text-align: left;
    margin:0 10px;
}

.item:hover {
    min-width: 230px;
    min-height: 230px;
    max-width: 230px;
    max-height: 230px;
    transition: 0.4s ease;
    padding: 5px;
}
