* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.react_router_link_heading {
    text-decoration: none;
}

.react_router_link_item {
    text-decoration: none;
    position: relative;
    z-index: 99;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #eee;
    height: 90px;
    width: 100%;
    align-items: center;  
}

.navbar_background {
    display: none;
}

.navbar_heading {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color:#000000;
    min-width: 400px;
    padding-left: 50px;
    font-size: 50px;
    z-index: 990;
    font-weight: ;
}

.navbar_menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 50px;
    background: #131313;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0 10px;
    z-index: 99;
}

.navbar_menu a {
    text-decoration: none;
}


.navbar_item {
    position: relative;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    transition: 0.3s ease;
    z-index: 99;
}

.navbar_item:hover {
    text-decoration: underline;
    transition: 0.4s ease;
}


.btn {
    position: relative;
    display: none;
    color: #ff0000;
    z-index: 990;
    cursor: pointer;
    padding: 10px;
}
.bar {
    /* display: none; */
    border: #000000 solid 1px;
    background: #000000;
    width: 20px;
    margin-bottom: 2px;
}

@media screen and (max-width: 1100px) {
    
    .navbar_background {
        display: flex;
        background: #eee;
        height: 100px;
        width: 100%;
        position: absolute;
        z-index: 990;
    }
    .navbar_menu {
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        background: #eee;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        right: 0;
        top: -150px;
        padding-bottom: 15px;
        position: absolute;
        transition: all 0.4s ease;
        z-index: 99;
        /* left: -100%; */
    }

    .navbar_menu.active {
        /* left:0; */
        top: 95px;
        transition: all 0.4s ease;
    }

    .navbar_menu a {
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .react_router_link_item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar_item {
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        width: 30%;
        height: 50px;
        /* border: 1px solid #000; */
        padding: 0;
        transition: 0.4s ease;
    }

    .navbar_item:hover {
        text-decoration: none;
        transition: 0.5s ease;
        background: #ddd;
        border-radius: 8px;
        font-size: 1.8rem;
    }

    .btn {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .btn:hover {
        transition: 0.3s ease-in;
        background: #ddd;
    }

    .bar {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 80px;
    }
    .navbar_background {
        height: 80px;
    }
    .navbar_heading {
        padding-left: 10px;
        font-size: 32px;
        min-width: 300px;
    }
    .navbar_item {
        font-size: 20px;
        width: 50%;
        height: 40px;
    }
    .navbar_menu {
        top: -100px;
    }
    .navbar_menu.active {
        top: 75px;
    }
    .btn {
        margin-right: 10px;
    }
}