* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.noticeBoard {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6rem;
    font-size: 1.2rem;
    height: 400px;
    right: 0;
    bottom: -350px;
    width: 300px;
    /* margin-right: 30px; */
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    border-radius: 10px;
    transition: all 0.4s ease;
}
.noticeBoard.active {
    bottom: 0;
    transition: all 0.4s ease;
}

.noticeBoard_body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    line-height: 1.6rem;
    font-size: 1.2rem;
    height: auto;
    display: flex;
    overflow-y: scroll;
    /* margin-right: 50px; */
}

/* .noticeBoard_body::-webkit-scrollbar{
    width: 0;
    height: 0;
} */

.noticeBoard_body::-webkit-scrollbar {
    width: 10px;
}

.noticeBoard_body::-webkit-scrollbar-track {
    background: #eee; 
}
   
.noticeBoard_body::-webkit-scrollbar-thumb {
    background: #ccc; 
}
  
.noticeBoard_body::-webkit-scrollbar-thumb:hover {
    background: #bbb; 
}

.heading1 {
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    font-size: 30px;
    height: 50px;
    font-weight: bold;
}

.upArrow {
    position: relative;
    height: 30px;
    margin: 10px 0;
    width: auto;
    border: none;
    /* font-weight: 1000; */
    /* text-decoration: none; */
}
.upArrow:hover {
    cursor: pointer;
}

.hr {
    padding-top: 2px;
    align-self: center;
    width: 220px;
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
}

.link {
    display: flex;
    /* flex-direction: row; */
    text-decoration: none;
    color: #000;
    margin: 5px 0;
}

.noticeBoardCard:hover {
    /* background-color: #ddd; */
    font-weight: 700;
}


.item_index {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .noticeBoard {
        display: none;
        width: 95%;
        /* align-self: center; */
        padding: 10px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .heading1 {
        font-size: 32px;
    }

    .noticeBoard {
        margin: 0;
    }

    .noticeBoard_body {
        font-size: 1.1rem;
    }
}