* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.team {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.heading {
    padding-bottom: 2px;
}

.horizontal_line {
    width: 260px;
}

.team_description {
    text-align: justify;
    padding: 5px 10px 0 20px;
    line-height: 1.6rem;
}